<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>식물 성장 예측</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon.png') }}">
    <link rel="stylesheet" href="../static/css/ui_jk.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
</head>
<body>
   <!-- Sidebar -->
    <div class="sidebar">
        <div class="logo">
            <div class="logo-icon"></div>
        </div>
        
        <ul class="nav-menu">
            <li class="nav-item">
                <a href="/dashboard" class="nav-link">
                    <span class="nav-icon">🏠</span>
                    대쉬보드
                </a>
            </li>
            <li class="nav-item">
                <a href="/education" class="nav-link">
                    <span class="nav-icon">🏫</span>
                    농업교육기관
                </a>
            </li>
            <li class="nav-item">
                <a href="/flowershop" class="nav-link">
                    <span class="nav-icon">🌼</span>
                    꽃집 지도
                </a>
            </li>
            <li class="nav-item">
                <a href="/growplant" class="nav-link">
                    <span class="nav-icon">
                        <img src="/static/images/growplant.png." alt="식물 성장 아이콘" style="width:21px; height:21px; vertical-align:middle;">
                    </span>
                    식물 성장 예측
                </a>
            </li>
        </ul>
    </div>

    <!-- Main Content -->
    <div class="main-content">
        <div class="header">
            <h1 class="page-title">Thousand haniho</h1>
        </div>
    </div>
</body>
</html>